* {
    border: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

/* Header Style */

#SiteUp {
    position: relative;
    background-image: url('/images/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 50.5vw;
}

#UpTitle {
    position: absolute;
    width: 32.8125vw;
    height: 14.25vw;
    left: 52.8125vw;
    top: 13.5vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4.0625rem;
    line-height: 4.75vw;
    text-align: right;

    color: #FFFFFF;
}

#UpDescription {
    position: absolute;
    width: 30.875vw;
    height: 4.875vw;
    left: 54.75vw;
    top: 29.25vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625vw;

    text-align: right;

    color: #FFFFFF;

}

#Upbutton {
    position: absolute;
    width: 10vw;
    height: 4vw;
    left: 75.625vw;
    top: 36.125vw;

    padding: 1.3125vw 1.5625vw 1.25vw 1.625vw;

    background: #FFFFFF;
    border-radius: 0.3125vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25vw;
    text-align: right;

    color: #005FAC;

}

/* Main >> Section1 */

#section1 {
    position: relative;
    width: 67vw;
    height: 53.39375vw;
    left: 12.875vw;
    top: 8.1875vw;
}


#img1 {
    position: absolute;
    width: 67vw;
    height: 45.20625vw;
    left: 0;
    top: 0;
}

#Section1Title {
    position: absolute;
    width: 18vw;
    height: 5.875vw;
    left: 41vw;
    top: 14.9375vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9375vw;

    color: #151414;
}

#Section1Description {
    position: absolute;
    width: 26vw;
    height: 6.5vw;
    left: 41vw;
    top: 22.281875vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625vw;

    color: #444343;

}

#Section1List {
    position: absolute;
    width: 21.8125vw;
    height: 10.11125vw;
    left: 41vw;
    top: 29.77125vw;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625vw;

    color: #444343;

}

.ListItems1{
    list-style: '\2705';
}

/* Section 2 */
#section2{
    position: relative;
    width: 67vw;
    height: 53.39375vw;
    left: 12.875vw;
    top: 8.1875vw;
    text-align: center;
    
}
#Section2Title{

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9375vw;

    color: #151414;
}
